.item-list{
    margin: 24px 0;
    
}

.item-list strong{
    color: #539BF5;
    font-size: 24px;
    margin: 24px 0;
}

.item-list a{
    color: #539BF5;
    font-size: 24px;
    margin: 24px 0;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.3s ease;
    text-transform: capitalize;
}

.item-list a:hover{
    color: #123c6f;
}

.item-list p{
    color: #999999;
    font-size: 16px;
    margin: 24px 0;
}